@import url('https://fonts.googleapis.com/css?family=Cinzel|Special+Elite&display=swap');

img:not(#me) {
  height:150px;
  width:225px;
  border-radius: 5px;
  border: 3px solid rgba(0,0,0.5);
}

body {
  background-image:linear-gradient(to bottom,rgb(220,220,220),rgb(170,170,170));
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  margin-bottom: 3%;
}

li:not(i) {
  font-size: 20px;
}

#me {
  height:300px;
  border-radius:50%;
  border:6px solid rgb(193,0,3);
}

.scrollpage-content {
  height: 70%;
}

.scrollpage-arrow {
  height:15%;
}

.title {
  border:3px solid rgba(0,0,0,0.75);
  background-color:rgba(220,220,220,0.7);
  border-radius:10px;
  font-family:"Cinzel";
  padding:1%;
}

#text {
  font-family:"Special Elite";
}

@media (max-width: 1000px) {
  img:not(#me) {
    height:100px;
    width:150px;
  }
}

@media (max-width: 750px) {
  #me {
    height: 225px;
  }
  #aboutMe {
    font-size:100%;
  }
  li:not(i) {
  font-size: 15px;
  }
}
