body {
  background-image:linear-gradient(to bottom,rgb(220,220,220),rgb(170,170,170));
  background-repeat: no-repeat;
  background-size: cover;
}

#uw {
  height:150px;
}

#classLink {
  text-decoration:underline;
}
