* {
  overflow:hidden;
}
h1 {
  color:rgba(255,255,255,0.9);
  position:fixed;
  text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black;
  bottom:5%;
  left:3%;
  margin-right:3%;
  font-size:250%;
  font-family:"Kaushan Script";
  font-weight:normal;
}

main {
  background-image:url("../files/kayaking1.JPG");
  background-size:cover;
  background-attachment:fixed;
  background-position:center;
}

@media only screen and (max-width: 700px) {
    h1 {
        display:none;
    }   
}

