body {
  background-image:url("../files/kayaking1.JPG");
  background-size:cover;
  background-position:center;
  height: 100%;
}

h1 {
  color:rgba(255,255,255,0.9);
  position:fixed;
  text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black;
  bottom:2%;
  left:3%;
  font-family:"Kaushan Script";
  font-weight:normal;
}

@media only screen and (max-width: 700px) {
    h1 {
        font-size:200%;
        left:5%;
        margin-right:5%; 
    }   
}

