* {
  box-sizing:border-box;
}

a {
    text-decoration:none;
}

a:visited {
  color:inherit;
}

html, body {
  height:100%;
  width:100%;
}

body {
  padding:0;
  margin:0;
  display:grid;
}

header {
  display:grid;
  grid-template-columns:auto 1fr;
  background-color:black;
  color:rgba(250,250,250,0.8);
  padding-left:3%;
  font-family:"Open Sans Condensed";
  text-transform:uppercase;
  position:fixed;
  top:0;
  height:8%;
  width:100%;
}

nav a, footer a {
  color:rgba(200,200,200,0.8);
}

header h2 {
  grid-column:1;
  margin-bottom:0;
  margin-top:12%;
}

footer h3 {
  grid-column:1;
  padding-left:25%;
  margin-top:3%;
  margin-bottom:0;
}

nav {
  grid-column:2;
  display:grid;
  margin-left:5%;
  grid-template-columns:1fr 1fr 1fr;
  font-size:20px;
}

nav a {
  text-align:center;
  padding-top:4%;
}

nav a:hover:not(#work):not(#education):not(#projects), .dropdown:hover{
  background-color:rgba(100,100,100,0.5);
}

footer {
  display:grid;
  grid-template-columns:repeat(4,1fr);
  background-color:black;
  color:rgba(250,250,250,0.8);
  padding-left:2%;
  font-family:"Open Sans Condensed";
}

footer p {
  margin-top:3.5%;
  margin-bottom:0;
}

footer a:hover {
  text-decoration:underline;
}

.tabbed {
  padding-left:2%;
}

.dropContent {
  display:none;
}

.dropdown {
  grid-column:3;
  text-align:center;
  padding-top:4%;
}

.dropdown:hover .dropContent {
  display:grid;
  grid-template-columns:repeat(3,1fr);
}

.dropdown:hover #experience {
  display:none;
}

.dropdown:hover #work {
  grid-column:1;
}

.dropdown:hover #education {
  grid-column:2;
}

.dropdown:hover #projects {
  grid-column:3;
}

#home {
  grid-column:1;
}

#about {
  grid-column:2;
}

#work:hover {
  color:white;
}

#education:hover {
  color:white;
}

#projects:hover {
  color:white;
}

#email {
  grid-column:2;
}

#phone {
  grid-column:3;
}

#linkedin {
  grid-column:4;
}
