@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Open+Sans+Condensed:300&display=swap');

* {
  box-sizing:border-box;
}

a {
  text-decoration:none;
  color:inherit;  
}

a:visited {
  color:inherit;
}

html, body {
  height:100%;
  width:100%;
}

nav, #slide {
  color:rgba(250,250,250,0.8);
  font-family:"Open Sans Condensed";
  background-color:rgba(0,0,0,0.95);
}

#contact {
  position: absolute;
  bottom: 10px;
}

#slide {
  font-size: 25px;
}

#email, #phone {
  font-size: 18px;
}

 a:hover, a:active, a:focus {
  color: white !important;
}

#slide {
  height: 100%;
  position: fixed;
  z-index: 1;
  width:300px;
  top: 0;
  right: -300px;
  transition: 1s;
}

.dropContent {
  display:none;
}

.dropdown:hover .dropContent {
  display:block;
}

.hide {
  display: none !important;
}



    
