
header {
    margin-top:-1%;
    margin-left:-1%;
    margin-right:-1%;
    padding-left:1%;
    padding-bottom:0;
    grid-row:1;
    color:black;
    background: rgba(202,228,216,0.75);
    box-shadow: 0 0 0.25pem 2em rgba(191, 185, 188,0.75);
    font-family:"Special Elite";
}

.bold {
    font-weight:bold;
    text-align:center;
}

.content {
    display:grid;
    grid-template-rows:auto auto auto auto auto auto auto;
    margin-left:0.5%;
    margin-right:0.5%;
    margin-top:0.25%;
    margin-bottom:0.25%;
    font-family:"Josefin Slab";
    font-size:110%;
}

.content a {
    text-align:center;
    text-decoration:underline;
    color:rgb(58,60,75);
}

.content div {
    background:rgba(86,127,120,0.9);
    border-radius:8px;
    border-style:solid;
    border-color:rgba(248,238,231, 0.65);
    margin:0.5%;
    padding:1%;
}

    .content #ato {
        grid-row:1;
    }
    .content #lz {
        grid-row:2;
    }
    .content #scoop {
        grid-row:3;
    }
    .content #safe {
        grid-row:4;
    }
    .content #hotel {
        grid-row:5;
    }
    .content #brennans {
        grid-row:6;
    }
    .content #whelans {
        grid-row:7;
    }
