/* Colors:
    rgb(220,174,29) =yellow
    rgb(202,228,216) =light blue
    rgb(86,127,120) =medium blue
    rgb(0,48,63) =dark blue
    rgb(248,238,231) =cream
*/

@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Josefin+Slab|Patua+One|Cinzel|Special+Elite|Margarine|Indie+Flower');

* {
    box-sizing:border-box;
}

html, body, aside {
    max-height:100%;
    top:0;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration:none;
}

body {
    display:grid;
    grid-template-rows:auto 1fr;
    max-width:100%;
    color:black;
    background:
        linear-gradient(37deg, rgba(40,88,103,1), rgba(60,108,123,0.25) 60%), 
        linear-gradient(127deg, rgba(40,88,103,1), rgba(60,108,123,0.25) 60%),
        linear-gradient(217deg, rgba(40,88,103,1), rgba(60,108,123,0.25) 60%),
        linear-gradient(327deg, rgba(40,88,103,1), rgba(60,108,123,0.25) 60%);
    background-size:cover;
}

.content {
    grid-row:2;
}

#dropbtn {
    background: rgba(202,228,216,0.75);
    border:none;
    color:white;
    position:absolute;
    right:0;
    top:0;
    width:5%;
    height:10%;
}

#button {
    grid-row:1;
    grid-column:1;
}

#button p {
    font-size:100%;
    font-weight:bold;
    padding:auto;
    margin-top:0;
}

.nav {
    display:none;
}

.dropdown:hover .nav {
    display:block;
    color:black;
    font-family:"Cinzel";
    font-size:90%;
}

.dropdown:hover .nav:hover {
    color:rgba(123,122,127,0.75);

}

#menu {
    height:100%;
    z-index:1;
    text-align:center;
    right:0;
    width:25%;
}

.dropdown:hover #dropbtn {
    display:none;
    z-index:1;
}

.dropdown:hover #menu {
    position:absolute;
    top:0;
    bottom:25%;
    z-index:10;
    color:rgb(40,40,40);
    text-align:center;
    display:grid;
    padding:auto;
    background:linear-gradient(to bottom, rgba(225,225,225, 0.95), rgba(185,185,185, 0.95) 100%);
    grid-template-rows:1fr 1fr 1fr 1fr;
    transition: all 0.25s ease;
    right:0;
    max-height:100%;
}

#menu h3 {
    font-weight:bold;
}

#contactInfo a {
    text-decoration:underline;
}

hr {
    width:15%;
    margin-top:6%;
    font-weight:normal;
}

.dropdown:hover #home {
    grid-row:1;
    margin-top:15%;
}

.dropdown:hover #about {
    grid-row:2;
    margin-top:7%;
    
}

.dropdown:hover #projects {
    grid-row:3;
    margin-top:1%;
}

.dropdown:hover {
    padding-top:1%;
    margin-top:0;
    grid-row:4;
    color:rgb(40,40,40);
}

#contact hr {
    width:75%;
    margin-top:0;
    padding-top:0;
    margin-bottom:10%;
}

#contact:hover {
    color:black;
}