#contact a {
    text-decoration:underline;
    color:black;
}

#education:hover, #work:hover, #activities:hover {
    box-shadow: 0 0 0.25em 0.15em rgba(255,255,255,0.25);
}

#education h3, #work h3, #activities h3 {
    text-decoration:underline;
}

.content {
    display:grid;
    margin-left:0.5%;
    margin-right:0.5%;
    margin-top:1%;
    margin-bottom:0.25%;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:auto auto auto;
    font-family:"Josefin Slab";
    font-size:110%;
}

.content h3 {
    font-family:"Barlow Condensed";
    font-weight:bold;
    margin-top:0;
    font-size:150%;
}

.content div {
    text-align:center;
    background:rgba(86,127,120,0.9);
    border-radius:8px;
    border-style:solid;
    border-color:rgba(248,238,231, 0.65);
    margin:0.75%;
}

    .content #education {
        grid-column:1/span 2;
        grid-row:1;
        padding:2%;
        margin-left:0.5%;
    } 
    .content #work {
        grid-column:3;
        grid-row:1;
        padding:10%;
        padding-top:18%;
        padding-bottom:17%;
        margin-right:0.5%;
    } 
    .content #activities {
        grid-column:2;
        grid-row:2;
        padding:10%;
        padding-top:15%;
        margin-left:0.5%;
    } 
    .content #experience {
        grid-column:1;
        grid-row:2;
        padding:3%;
    } 
    .content #skills {
        grid-column:3;
        grid-row:2;
        padding:3%;
        margin-right:0.5%;
    } 
    .content #contact {
        grid-row:3;
        grid-column:1/span 3;
        padding:2%;
        padding-top:3.5%;
        margin-top:0.375%;
        margin-left:0.5%;
        margin-right:0.5%;
        margin-bottom:2%;
    }

#message {
    margin-top:-1%;
    margin-left:-1%;
    margin-right:-1%;
    padding-left:1%;
    padding-bottom:0;
    grid-row:1;
    color:black;
    background: rgba(202,228,216,0.75);
    box-shadow: 0 0 0.25pem 2em rgba(191, 185, 188,0.75);
    font-family:"Special Elite";
}


