body {
  background-image:linear-gradient(to bottom,rgb(220,220,220),rgb(170,170,170));
  background-repeat: no-repeat;
  background-size: cover;
}

li:not(i) {
  font-size: 17px;
}

#bucky {
  height:100px;
}

#aboutLink {
  text-decoration:underline;
}

#content {
  min-height: 1vh;
}

@media (max-width: 1000px) {
    #city {
        display: none;
    }
}

