body {
  background-image:linear-gradient(to bottom,rgb(220,220,220),rgb(170,170,170));
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

li:not(i) {
  font-size: 17px;
}

.grid-img {
  max-height: 50px;
}

#logo {
  max-height:100px;
  min-height: 50px;
}

#title {
  text-decoration:underline;
}

@media (max-width: 1000px) {
    #city {
        display: none;
    }
}

